
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bienvenido a Farmacias QF</title>
    @Styles.Render("~/Content/css")
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Implementos/css/estilos.css">
    <link rel="stylesheet" href="~/Implementos/css/normalize.css">
    <link rel="stylesheet" href="~/Implementos/img/bg.PNG">
</head>

<body>

    <div class="contenedor-formulario contenedor">
        <div class="imagen-formulario">

        </div>

        <form class="formulario"action="@Url.Action("Index","Acceso")" method="post">
            <div class="texto-formulario">
                <h2>Bienvenido</h2>
                <h2>QF Farmacia Magistral</h2>
            </div>
            <div class="input">
                <label for="usuario">Usuario</label>
                <input placeholder="Ingresa tu nombre" type="text" id="userName" name="userName">
            </div>
            <div class="input">
                <label for="contraseña">Contraseña</label>
                <input placeholder="Ingresa tu contraseña" type="password" id="clave" name="clave">
            </div>
            <div class="password-olvidada">

            </div>
            <div class="input">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>

</html>
